.container {
    background: url("../images/background.jpg");
}

.line-head {
    background: #c0c0c2;
    height: 19px;
}

.box-title h1 {
    font-family: 'Franklin Gothic Heavy', arial;
    font-size: 67px;
    text-transform: uppercase;
    line-height: 0.85em;
    letter-spacing: 0;
    color: #2d2d2e;
}

.box-title .title-name {
    margin: 40px auto 0 auto;
}

.box-title .title-web-developer {
    color: #6c9ce4;
    margin: 0;
}

nav .menu ul li {
    width: 74px;
    height: 71px;
    margin-top: 44px;
    padding-top: 25px;
    margin-right: 20px;
    background-image: url(../images/menu.png);
    text-align: center;
}

nav .menu ul li a{
    color: #fff;
    font: 14px ubuntu regular, sans-serif;
    text-decoration: none;
}

nav .menu ul li:hover {
    background-image: url(../images/menu-blue.png);
}

.text-home, .text-work, .text-skills, .text-touch{
    position: absolute;
    color: #fff;
    top: 73px;
}

.text-home {
    margin: auto auto auto 220px;
}

.text-work {
    left: 325px;
}

.text-skills {
    left: 414px;
}

.text-touch {
    left: 493px;
}

.about-me h1 {
    margin: 90px auto 48px auto;
}

.about-me p {
    font: 14pt sans-serif;
    line-height: 2.3em;
}

.title {
    font-family: 'Franklin Gothic Heavy', arial;
    font-size: 67px;text-transform: uppercase;
    line-height: 0.85em;
    letter-spacing: 0;
    color: #c0c0c2;
}

.about-me p {
    text-align: left;
}

.resume h2 {
    color: #6c6c6c;
}

.work h1 {
    margin: 60px auto 50px auto;
}

.my-works img {
    margin-bottom: 95px;
    height: 230px;
}

.my-works img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: #ffffff;
    border: 5px solid #cccccc;
}


@media (min-width: 700px) {
    .my-works img {
        margin: auto;
    }
}


.my-works h2 {
    color: #6d6d6f;
    margin-bottom: 40px;
}

.box-for-skills {
    margin-bottom: 50px;
    color: #6d6d6f;
}

.skills-title h1 {
    margin: 70px auto 50px;
}

.progress {
    line-height: 18px;
}

.icon-skills {
    margin: 140px auto 90px;
}

.icon-skills img {
    margin-right: 30px;
}

.contacts h2 {
    margin: 50px;
    color: #6d6d6f;
}

.left {
    float: left;
    margin-right: 25px;
}

.address {
    color: #6d6d6f;
}

span {
    color: #2067d2;
}

.progress {
    color: #1b1b1b;
    font-size: 16px;
    border: solid 1px #c0c0c2;
    width: 400px;
}

.bar {
    background-color: #c0c0c2;

}

.my-photo {
    margin: 170px 90px auto;
}

.serve-info {
    margin-top: 60px;
    margin-bottom: 0;
    line-height: 1.9em;
}

.my-skills img {
    margin-top: 50px;
}

.icon-top {
    margin: 10px auto 0;
}

.line-footer {
    background: #c0c0c2;
    height: 29px;
    padding: 7px;
    margin-top: 10px;
}



